name: Login to Majsoul

on:
  schedule:
    - cron: '5 21 * * *'
  workflow_dispatch:

jobs:
  # 1. 일본 서버 (기본 설정 사용)
  login-jp:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Execute main.py
        run: python main.py
        env:
          UID: ${{ secrets.UID }}
          TOKEN: ${{ secrets.TOKEN }}
          # JP는 기본 서버이므로 MS_HOST를 넣지 않습니다.

  # 2. 글로벌 서버 (MS_HOST 추가)
  login-en:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Execute main.py
        run: python main.py
        env:
          UID: ${{ secrets.UID2 }}
          TOKEN: ${{ secrets.TOKEN2 }}
          # 말씀하신 대로 EN 서버 주소를 여기에 바로 넣었습니다.
          MS_HOST: "https://mahjongsoul.game.yo-star.com/"
